.signin
{
  &-form
  {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    form
    {
      height: fit-content;
      margin: 0 10px;
      transition: 0.3s;
    }

    &-switch
    {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 320px;
      overflow: hidden;

      &-on
      {
        margin-left: -310px !important;
      }
    }
  }

  &-control
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;

    & > *
    {
      width: 100%;
      margin: 5px 0 !important;
    }
  }
}
